.footer {
  position: sticky;
  bottom: 0;
  background-color: #080373;
  /* Change this to your desired background color */
  color: white;
  text-align: center;
}

::-webkit-scrollbar {
  width: 2px;
  height: 10px;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #738384;
}

::-webkit-scrollbar-track {
  background-color: #EDF2F7;
}

.react-tabs__tab--selected {
  outline: 2px solid gray;
  color: gray;
  background-color: transparent;
}

.filter-container {
  position: sticky;
  top: 0;
  width: 350px; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  background-color: #F0F2F5; 
  z-index: 10; 
}